/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/montserrat-v23-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v23-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-700 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/montserrat-v23-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v23-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-900 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    src: local(''),
         url('./styles/montserrat-v23-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./styles/montserrat-v23-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
 /*main and header start */
html{
    box-sizing: border-box;
}
*,*::before,*::after{
    box-sizing: inherit;
}
h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
  }
.wrapper{
   /* max-width: 1287px;*/
   padding: 0 0 0 96px;
    margin: 0 auto;
}
body{
    font-family: 'Montserrat';
    font-style: bold;
    font-weight: bold;
}
.header-logo{
    padding-top: 24px;
}
.header1{
    height: 145px;
    background: linear-gradient(90.34deg, #0390BD 27.69%, rgba(4, 163, 213, 0) 98.95%);
    margin-bottom: 8px;
}
.header2{
    height: 209px;
    background-color: #CF0089;
}
.header-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.call-now{
    background: url(img/bg-head1.png) no-repeat;
padding: 59px 46px 28px;
 width: 537px;
}

.call{
    font-weight: 700px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    align-items: center;
    text-align: right;
    color: #FFFFFF;
}
.order-taxi{
    width: 537px;
    height: 209px;
    background: url(img/bg2.svg) no-repeat;
}
.samara-taxi{
    max-width: 652px; 
    height: 116;
    padding: 29px 0 0px 0;
    font-family: 'Calibri';
font-style: normal;
font-weight: bold;
font-size: 55px;
line-height: 50px;
}
.buisnes{
    font-family: 'Gals';
    font-style: italic;
    font-weight: normal;
    font-size: 36px;
    line-height: 36px;
    padding-top: 15px;
    color: #FFE178;
}
.order-call{
    text-align: right;
    width:201px;
    height:29px;
  margin-left: 289px;
  font-family: 'Montserrat';
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 29px;
color: #CF0089;
margin-top: 44px;
margin-bottom: 12px;
}
.frorm-number-field{
    width: 413px;
    height: 55px;
  margin-left: 77px;
 margin-bottom: 12px;
}
.button-number{
    margin-left: 77px;
}
/*main and header end */
/* slider-start* can-fixed 1920 */

.slider{
   
    border: 2px solid black;
    max-width: 80%;
    margin: 20px auto;
     overflow: hidden; 
}
.slider-line{
    display: flex;
    transition: all ease 1s;
}
.mcontainer{
    position:relative;
}
.buttons{
    position: absolute;
    left: 45%;
    top: 95%;
}
.button{
    width: 20px;
    height: 20px;
}
/* slider-end*/
/* ches start */
.grid-container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows:repeat(3,1fr) ;
    
}
.pic1{
    padding-top: 74px;
    text-align: center;
}
.desc{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 24px;
text-align: center;
padding-top: 31px;
padding-bottom: 85px;
color: white;
}
.intercity-taxi-box{
    background-color: #FC8800;
   
}
.call-now-box{
    background-color: #CF0089;
}
.price-box{
    background-color: #00A110;
}
.no-limit-taxi{
    background-color: #213FA7;
}
.back-box{
    background-color: #FC8800;
}
.guides-box{
    background-color: #CF0089;
}
.english-box{
    background-color: #00A110;
}
.locations-box{
    background-color: #213FA7;
}
/* ches end */